.searchResultHeader {
  display: flex;
  justify-content: space-between;
  margin: 30px 0px 20px 0px;
  align-items: center;
}

.searchResultHeader__right {
  display: flex;
  align-items: center;
  gap: 10px;
}
.searchResultHeader__left {
  font-weight: 500;
}

.searchResultHeader__left > strong {
  margin: 0px 10px 10px 0px;
  color: antiquewhite;
  background-color: orange;
  padding: 5px;
  border-radius: 10px;
}
