.searchResultCard {
  height: 100%;
  /* max-height: 200px; */
  background-color: rgba(224, 189, 113, 0.534);
  /* display: flex; */
  border-radius: 10px;
  width: 100%;
  align-items: center;
  padding: 10px 10px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.exp {
  margin-top: 10px;
}
.expandable {
  transition: max-height 3s ease-in-out;
  overflow: hidden;
  max-height: 1000px;
}

.expanded {
  max-height: 0;
  overflow: hidden;
}

.searchResultCard > div {
  transition: all 0.3s ease-in-out;
}

.logo {
  height: 100%;
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.logo > img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.cardBody {
  width: 100%;
}
.cardBody > div > h2 {
  font-weight: 700;
  color: rgb(238, 126, 62);
  cursor: pointer;
}

.cardBody > div > h2:hover {
  color: #b6661b;
}
.mainJobTags {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
/* for category */
.category {
  border: 1px solid #b6661b;
  padding: 3px 5px 3px 5px;
  border-radius: 10px;
  text-align: center;
  white-space: nowrap;
}
.category > span {
  color: #b6661b;
}

/* for location */

.location {
  background-color: white;
  border-radius: 10px;
  padding: 1px 5px 1px 5px;
  min-width: 50px;
  text-align: center;
}

.location > span {
  font-size: 13px;
  font-weight: 300;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 1px;
}

/* for price  */

.price {
  background-color: #b6661b;
  border-radius: 10px;
  text-align: center;
  padding: 3px 5px 3px 5px;
}
.price > span {
  color: aliceblue;
  font-weight: 900;
  font-size: 12px;
  letter-spacing: 1px;
}

@media only screen and (max-width: 600px) {
  .cardBody > div > h2 {
    font-size: 15px;
  }
  .price > span {
    font-size: 10px;
    white-space: nowrap;
  }
}
