.App {
  background-color: #efefef;
}
*::-webkit-scrollbar {
  display: none;
}

.header {
  height: 100px;
  padding: 20px;
  width: 100%;
  background-color: rgb(18, 19, 19);
  margin-bottom: 20px;
}

.header h2 {
  color: #efefef;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}

.footer {
  background-color: darkolivegreen !important;
}

.footer > h3 {
  color: rgb(219, 214, 214) !important;
  font-weight: 900 !important;
}

@media only screen and (max-width: 768px) {
  .header h2 {
    font-size: 18px;
  }
}
